# TYES EJ SCREEN

This notebook is looking at environmental justice data for the TYES area, specifically pulling in indicators from the federal government's EJ SCREEN. Because it uses census-tract level data, we have identified specific California tracts that make up the TYES area at 1, 2 and 3 miles.

In [9]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import networkx as nx
import osmnx as ox
import contextily as ctx
from matplotlib.patches import Patch
from matplotlib.lines import Line2D

### Geographic Data Pull ###

Here I am going to import EJ Screen Data for all of LA County, then I will specifically look at the areas that make up the census tracts in miles 1, 2, 3 for TYES. First, I will pull in GEOJSON Census Tract geographic data from: https://geohub.lacity.org/datasets/lacounty::census-tracts-2020/about

In [12]:
tracts=gpd.read_file('data/ct2020.geojson')
tracts.head()

,OBJECTID,CT20,LABEL,ShapeSTArea,ShapeSTLength,geometry
0,2496,101110,1011.10,1.229562e+07,15083.854287,"POLYGON ((-118.29793 34.26323, -118.30082 34.2..."
1,2497,101122,1011.22,2.845774e+07,31671.455844,"POLYGON ((-118.27743 34.25991, -118.27743 34.2..."
2,2498,101220,1012.20,7.522093e+06,12698.783810,"POLYGON ((-118.27818 34.25577, -118.27887 34.2..."
3,2499,101221,1012.21,3.812000e+06,9161.710543,"POLYGON ((-118.28735 34.25591, -118.28863 34.2..."
4,2500,101222,1012.22,3.191371e+06,9980.600461,"POLYGON ((-118.28594 34.25590, -118.28697 34.2..."

In [13]:
tracts = tracts[['CT20','geometry']]
tracts.head()

     CT20                                           geometry
0  101110  POLYGON ((-118.29793 34.26323, -118.30082 34.2...
1  101122  POLYGON ((-118.27743 34.25991, -118.27743 34.2...
2  101220  POLYGON ((-118.27818 34.25577, -118.27887 34.2...
3  101221  POLYGON ((-118.28735 34.25591, -118.28863 34.2...
4  101222  POLYGON ((-118.28594 34.25590, -118.28697 34.2...

In [14]:
tracts['FIPS'] ='06' + '037' + tracts['CT20']
tracts.head()

     CT20                                           geometry         FIPS
0  101110  POLYGON ((-118.29793 34.26323, -118.30082 34.2...  06037101110
1  101122  POLYGON ((-118.27743 34.25991, -118.27743 34.2...  06037101122
2  101220  POLYGON ((-118.27818 34.25577, -118.27887 34.2...  06037101220
3  101221  POLYGON ((-118.28735 34.25591, -118.28863 34.2...  06037101221
4  101222  POLYGON ((-118.28594 34.25590, -118.28697 34.2...  06037101222

test