# TYES EJ SCREEN

This notebook is looking at environmental justice data for the TYES area, specifically pulling in indicators from the federal government's EJ SCREEN. Because it uses census-tract level data, we have identified specific California tracts that make up the TYES area at 1, 2 and 3 miles.

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import networkx as nx
import osmnx as ox
import contextily as ctx
from matplotlib.patches import Patch
from matplotlib.lines import Line2D

### Geographic Data Pull ###

Here I am going to import EJ Screen Data for all of LA County, then I will specifically look at the areas that make up the census tracts in miles 1, 2, 3 for TYES. First, I will pull in GEOJSON Census Tract geographic data from: https://geohub.lacity.org/datasets/lacounty::census-tracts-2020/about

In [2]:
tracts=gpd.read_file('data/ct2020.geojson')
tracts.head()

,OBJECTID,CT20,LABEL,ShapeSTArea,ShapeSTLength,geometry
0,2496,101110,1011.10,1.229562e+07,15083.854287,"POLYGON ((-118.29793 34.26323, -118.30082 34.2..."
1,2497,101122,1011.22,2.845774e+07,31671.455844,"POLYGON ((-118.27743 34.25991, -118.27743 34.2..."
2,2498,101220,1012.20,7.522093e+06,12698.783810,"POLYGON ((-118.27818 34.25577, -118.27887 34.2..."
3,2499,101221,1012.21,3.812000e+06,9161.710543,"POLYGON ((-118.28735 34.25591, -118.28863 34.2..."
4,2500,101222,1012.22,3.191371e+06,9980.600461,"POLYGON ((-118.28594 34.25590, -118.28697 34.2..."

In [3]:
tracts = tracts[['CT20','geometry']]
tracts.head()

     CT20                                           geometry
0  101110  POLYGON ((-118.29793 34.26323, -118.30082 34.2...
1  101122  POLYGON ((-118.27743 34.25991, -118.27743 34.2...
2  101220  POLYGON ((-118.27818 34.25577, -118.27887 34.2...
3  101221  POLYGON ((-118.28735 34.25591, -118.28863 34.2...
4  101222  POLYGON ((-118.28594 34.25590, -118.28697 34.2...

In [4]:
tracts['FIPS'] ='06' + '037' + tracts['CT20']
tracts.head()

     CT20                                           geometry         FIPS
0  101110  POLYGON ((-118.29793 34.26323, -118.30082 34.2...  06037101110
1  101122  POLYGON ((-118.27743 34.25991, -118.27743 34.2...  06037101122
2  101220  POLYGON ((-118.27818 34.25577, -118.27887 34.2...  06037101220
3  101221  POLYGON ((-118.28735 34.25591, -118.28863 34.2...  06037101221
4  101222  POLYGON ((-118.28594 34.25590, -118.28697 34.2...  06037101222

### Environmental Justice 

 I accessed federal data files from the EPA that include environmental justice indicators, but they needed to be filtered down to the tract level to not crash Jupyter Hub. I am going to read in and start to clean the EJ dataset.

In [5]:
ejca_full= pd.read_csv(
    'data/EJSCREEN_StatePct.csv',
    dtype=
    { 
        'ID':str
    }
)

In [9]:
ejca =ejca_full[ejca_full['CNTY_NAME'] == "Los Angeles"]

In [10]:
ejca

,OBJECTID,ID,STATE_NAME,ST_ABBREV,CNTY_NAME,REGION,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,...,T_PTSDF_D2,T_UST_D2,T_PWDIS_D2,EXCEED_COUNT_80,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area
5584,5585,06037101110,California,CA,Los Angeles,9,3923.0,NaN,NaN,NaN,...,17 %ile,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,5565.411337,1.676519e+06
5585,5586,06037101122,California,CA,Los Angeles,9,4119.0,NaN,NaN,NaN,...,9 %ile,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,11695.304395,3.881000e+06
5586,5587,06037101220,California,CA,Los Angeles,9,3775.0,NaN,NaN,NaN,...,31 %ile,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,4688.607305,1.025452e+06
5587,5588,06037101221,California,CA,Los Angeles,9,3787.0,NaN,NaN,NaN,...,23 %ile,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,3378.823980,5.197057e+05
5588,5589,06037101222,California,CA,Los Angeles,9,2717.0,NaN,NaN,NaN,...,30 %ile,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,3685.233326,4.350619e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8077,8078,06037980038,California,CA,Los Angeles,9,0.0,NaN,NaN,NaN,...,0 %ile,0 %ile,0 %ile,NaN,NaN,NaN,NaN,NaN,15825.162592,6.588690e+06
8078,8079,06037980039,California,CA,Los Angeles,9,0.0,NaN,NaN,NaN,...,0 %ile,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,7196.703199,1.990662e+06
8079,8080,06037990100,California,CA,Los Angeles,9,0.0,NaN,NaN,NaN,...,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92125.273156,2.520136e+08
8080,8081,06037990200,California,CA,Los Angeles,9,0.0,NaN,NaN,NaN,...,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114705.298226,3.020180e+08
8081,8082,06037990300,California,CA,Los Angeles,9,0.0,NaN,NaN,NaN,...,0 %ile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109189.309695,2.076181e+08

In [11]:
ejca.to_csv('ejca.csv')